/** @format */

.yourself {
  // position: relative;
  padding: 0 60px;
  &__list {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  &__elem {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #ffffff;
    & a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: #9d8665;
      }
      &:active {
        color: #7e6c51;
      }
    }
    &_2 {
      letter-spacing: 2px;
      margin-left: 69px;
    }
  }
}
