/** @format */

.game {
  display: flex;
  flex-direction: column;
  &__pic {
    height: auto;
    width: auto;
    object-fit: contain;
  }
  &__picBlock {
    max-width: 35%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  &__answers {
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin: 0 auto;
  }
  &__answer {
    height: 90%;
    width: 40%;
    background-color: rgba(148, 85, 85, 0.2);
    border: 1px solid rgb(19, 3, 36);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: rgba(148, 85, 85, 0.8);
    }
    &_trueble,
    &_trueble:hover {
      background-color: green;
    }
    &_falsable,
    &_falsable:hover {
      background-color: red;
    }
    &_1 {
    }
    &_2 {
    }
    &_3 {
    }
    &_4 {
    }
  }
}

.gamePic {
  &__question {
    font-family: "Rampart One", sans-serif;
    font-size: 30px;
    text-align: center;
    background-color: rgba(139, 69, 19, 0.329);
  }

  &__answers {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 0 auto;
  }

  &__answer {
    margin: 10px;

    &_1 {
    }

    &_2 {
    }

    &_3 {
    }

    &_4 {
    }
  }
}
