/** @format */

.nextRound {
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
  transition: all 0.8s;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    cursor: pointer;
    background-color: yellow;
  }
}

.popup {
  &__info {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -70%);
    height: 50vh;
    width: 50vw;
    transition: all 0.8s;
    opacity: 0;
    &_active {
      top: 50%;
      left: 50%;
      opacity: 1;
      transform: translate(-50%, -70%);
    }
  }
}

.info {
  height: 50vh;
  width: 33vw;
  &__buttons {
    display: flex;
    // width: 80%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // width: 45%;
    // max-height: 80%;
    margin: 0 auto;
    border: 2px solid;
    background-color: rgb(135 174 222 / 89%);
    border-radius: 25px;
    padding: 10px 0;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
  }

  &__pic {
    max-width: 50%;
  }
}
.infoRound {
  height: 50vh;
  width: 33vw;
  &__buttons {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    max-height: 80%;
    margin: 0 auto;
    border: 2px solid;
    background-color: rgb(135 174 222 / 89%);
    border-radius: 25px;
    padding: 10px 0;
  }
  &__name {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    & p {
      font-size: 40px;
    }
  }
}
