/** @format */
.navigation {
  position: absolute;
  top: 30px;
  height: 30px;
  width: 30px;
  background-size: contain;
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.fullscreen__icon {
  right: 30px;
  background-image: url(../assets/images/svg/fullscreen.svg);
}
.return__arrow {
  left: 30px;
  background-image: url(../assets/images/png/return_arrow.png);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
