/** @format */

.popup {
  position: relative;
  transition: all 0.8s;
  &__setting {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -70%);
    height: 50vh;
    width: 50vw;
    background-color: rgba(222, 184, 135, 0.2);
    &_active {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%);
    }
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 15px;
    width: 15px;
    cursor: pointer;
  }
}
// .setting {
//   margin: 40px;
//   &__block {
//     display: flex;
//     justify-content: space-between;
//   }
  // &__time {
  // }
  // &__title {
  //   font-style: 30px;
  //   text-align: center;
  //   border-bottom: 3px solid gray;
  //   margin-top: 20px;
  // }
  // &__range {
  // }
  // &__volume {
  // }
// }
.setting {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  align-items: center;
  & span{
    font-weight: 100;
    font-size: 16px;
    color: #23234a;
  }
  &__volume {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
    background-color: #e5dede;
    align-content: center;
  align-items: center;
  justify-content: space-evenly;
  }
  &__time {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
    background-color: #e5dede;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
  }

  &__title {
    font-family: 'Rampart One';
    font-size: 30px;
    color: #23234a;
  }

  &__icon {
    height: 30%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: invert(12%) sepia(34%) saturate(1473%) hue-rotate(207deg) brightness(98%) contrast(95%);
    &_volume {
      background-image: url(../assets/images/svg/volume.svg);
    }

    &_time {
      background-image: url(../assets/images/svg/watch.svg);
      transform: scale(1.3);
    }
  }

  &__range {
  }

  

  &__wrap {
  }
}
