/** @format */
body {
  background-image: url(../assets/images/jpg/main_background.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
.wrap {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(121, 86, 86, 0.3);
}
.main {
  flex-grow: 2;
  transition: all 0.5s;
}

.main_translate {
  transform: translateX(-100%);
}
.main_translateToY {
  transform: translateY(-150%);
}
