/** @format */
body {
  background-image: url(../assets/images/jpg/main_background.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(121, 86, 86, 0.3);
}
.main {
  flex-grow: 2;
}
