/** @format */

.contacts {
  background-color: $bg-ligth;
  &-title {
    color: $var4;
    margin: 0;
    margin-bottom: 101px;
    padding-top: 75px;
    @include laptop {
      margin-bottom: 74px;
      padding-top: 51px;
    }
    @include tablet {
      margin-bottom: 62px;
      padding-top: 42px;
    }
  }
  &-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    @include laptop {
      padding-bottom: 64px;
    }
    @include tablet {
      flex-direction: column;
    }
  }
  &-subtitle {
    margin-top: 0;
    margin-bottom: 52px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: $var7;
    @include laptop {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 36px;
    }
    @include tablet {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 40px;
    }
    @include mobile {
      font-size: 16px;
      line-height: 19px;
    }
  }
  &-list {
    padding-left: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: $var7;
    list-style-type: none;
    @include laptop {
      font-size: 20px;
      line-height: 23px;
    }
    @include tablet {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 40px;
    }
    @include mobile {
      font-size: 16px;
      line-height: 19px;
    }
    li {
      margin-bottom: 25px;
      @include laptop {
        margin-bottom: 36px;
      }
      @include tablet {
        margin-bottom: 15px;
      }
      & a {
        color: black;
        &:hover {
          color: #9d8665;
        }
        &:active {
          color: #7e6c51;
        }
      }
    }
  }
}

.map {
  @include laptop {
    width: 694px;
    height: 454px;
    object-position: top right;
    object-fit: none;
  }
  @include tablet {
    width: 727px;
    height: 478px;
  }
}
