/** @format */

.gallery {
  background-color: #030303;
  &-title {
    color: white;
    height: 160px;
    padding-top: 75px;
    @include laptop {
      padding-top: 53px;
    }
    @include tablet {
      padding-top: 41px;
      height: 100px;
    }
  }
}
