/** @format */

.wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  &-pic-exlore {
    display: flex;
    padding: 75px;
    @include laptop {
      flex-direction: column;
    }
  }

  @include laptop {
    padding: 0 20px;
  }
}
.header {
  background-color: $main-bg-color;
  height: 150px;
  &-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }
  @include laptop {
    height: 130px;
  }
  @include tablet {
    height: 110px;
  }
  @include mobile {
    height: 90px;
  }
}

.nav-header {
  display: flex;
  max-width: 770px;
  line-height: 0;
  @include laptop {
    display: none;
  }
  li a {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: $var3;
    margin-right: 55px;

    &:hover,
    &:focus-within {
      color: #9d8665;
    }
    &:active {
      color: #7e6c51;
    }
  }
  & li:last-child a {
    margin-right: 0;
  }
  li {
    vertical-align: inherit;
  }
}
.adaptive-menu {
  display: none;
  @include laptop {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 32px;
    height: 2px;
    background-color: #ffffff;
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background-color: #ffffff;
  }
  &::after {
    top: 8px;
    left: 0;
  }
  &::before {
    bottom: 8px;
    left: 0;
  }
}
.nav-menu {
  position: absolute;
  top: 135px;
  left: 0px;
  background-color: #030303;
  z-index: 15;
  padding-left: 55px;
  padding-right: 100px;
  height: 100%;
}
// {
//   display: block;

// }
