/** @format */

.video-journey {
  background-color: $bg-ligth;
  @include tablet {
    padding-bottom: 21px;
  }
}
.container-video-description {
  display: flex;
  padding-top: 81px;
  @include laptop {
    padding-top: 53px;
  }
  @include tablet {
    padding-top: 40px;
  }
}
.video-title {
  color: $var4;
  margin-right: 115px;
  letter-spacing: 4.3px;
  margin-left: 9px;
  @include laptop {
    letter-spacing: 5px;
    margin-left: 0;
  }
}
.video-description {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  max-width: 720px;
  margin-top: 4px;
  @include laptop {
    display: none;
  }
}
.video-inframe {
  width: 452px;
  height: 254px;
  @include laptop {
    width: 300px;
    height: 170px;
  }
  @include tablet {
    width: 354px;
    height: 199px;
  }
  @include mobile {
    width: 180px;
    height: 101px;
  }
}
.container-video-content {
  position: relative;
  padding-top: 58px;
  width: 1440px;

  @include laptop {
    width: 984px;
    padding-top: 32px;
  }
  @include tablet {
    width: 728px;
    padding-top: 20px;
  }
  & img {
    height: 665px;
    width: 1440px;
    object-fit: cover;
    @include laptop {
      width: 984px;
      height: 444px;
    }
    @include tablet {
      width: 728px;
      height: 329px;
    }
    @include mobile {
      width: 380px;
      height: 172px;
    }
  }
}
.player-btn {
  position: absolute;
  border: none;

  background-color: transparent;
  &:hover {
    filter: invert(65%) sepia(0%) saturate(0%) hue-rotate(252deg) brightness(94%) contrast(90%);
    transition: 0.3s;
    cursor: pointer;
  }
}
.play-btn {
  top: 272px;
  left: 612px;
  background-image: url(../assets/img/play_btn.svg);
  width: 220px;
  height: 220px;
  transition: transform 0.5s;
  @include laptop {
    top: 178px;
    left: 417px;
    background-size: contain;
    width: 152px;
    height: 152px;
  }
  @include tablet {
    top: 145px;
    left: 325px;
    background-size: contain;
    width: 80px;
    height: 80px;
  }
  @include mobile {
    background-size: contain;
    width: 50px;
    height: 50px;
  }
}
.panel-btn {
  position: relative;
  height: 85px;
  background-color: black;
  @include laptop {
    height: 60px;
    width: 984px;
  }
  @include tablet {
    width: 728px;
    height: 53px;
    margin-top: 4px;
  }
  @include mobile {
    width: 380px;
    height: 50px;
  }
}
.back-btn {
  position: absolute;
  background-image: url(../assets/svg/back_btn.svg);
  top: 28px;
  left: 41px;
  width: 26px;
  height: 29px;
}
.sm-play-btn {
  position: absolute;
  background-image: url(../assets/svg/sm_play_btn.svg);
  background-position: center;
  top: 20px;
  left: 30px;
  width: 23px;
  height: 30px;
  outline: none;
  padding: 0;
  @include laptop {
    top: 10px;
    left: 40px;
  }
  @include tablet {
    left: 30px;
  }
}
.next-btn {
  position: absolute;
  background-image: url(../assets/svg/next-ntn.svg);
  top: 28px;
  left: 173px;
  width: 26px;
  height: 29px;
}
.volume-btn {
  position: absolute;
  background-image: url(../assets/svg/volume.svg);
  top: 22px;
  left: 1081px;
  width: 38px;
  height: 30px;
  padding: 0;
  @include laptop {
    top: 19px;
    left: 688px;
    width: 25px;
    height: 20px;
    background-size: contain;
  }
  @include tablet {
    top: 15px;
    left: 88px;
    width: 27px;
    height: 22px;
  }
}
.sq-btn {
  position: absolute;
  background-image: url(../assets/svg/sq.svg);
  top: 20px;
  left: 1376px;
  width: 35px;
  height: 35px;
  @include laptop {
    top: 16px;
    left: 917px;
    width: 26px;
    height: 26px;
    background-size: contain;
  }
  @include laptop {
    top: 13px;
    left: 672px;
    width: 27px;
    height: 27px;
  }
  @include mobile {
    width: 18px;
    height: 18px;
  }
}
.progress {
  position: absolute;
  top: 29px;
  left: 104px;
  width: 930px;
  height: 15px;
  border-radius: 10px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  @include laptop {
    top: 25px;
    left: 93px;
    width: 564px;
    height: 8px;
    border-radius: 0px;
  }
  @include tablet {
    top: -4px;
    left: 0;
    width: 100%;
  }
  &::-webkit-slider-runnable-track {
    background-color: #c4c4c4;
  }
  &::-webkit-slider-thumb {
    background: #fff;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    box-shadow: -915px 0 0 905px #710707;
    @include laptop {
      width: 8px;
      height: 8px;
    }
  }

  &-vol {
    position: absolute;
    top: 29px;
    left: 1172px;
    width: 155px;
    height: 15px;
    border-radius: 10px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    overflow: hidden;
    @include laptop {
      top: 25px;
      left: 745px;
      width: 143px;
      height: 8px;
      border-radius: 0px;
    }
    @include tablet {
      top: 23px;
      left: 148px;
      width: 489px;
    }
    &::-webkit-slider-runnable-track {
      background-color: #c4c4c4;
    }
    &::-webkit-slider-thumb {
      background: #fff;
      cursor: pointer;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      -webkit-appearance: none;
      box-shadow: -200px 0 0 190px #710707;
      @include laptop {
        width: 8px;
        height: 8px;
      }
    }
  }
}
.for-space {
  position: relative;
  top: -15px;
  @include laptop {
    top: -5px;
  }
}
