.tree-page {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 40px;
  @include notebook {
    padding: 0 25px;
  }
  @include laptop {
    padding: 0 20px;
  }
  &__column {
  }

  &__tree {
    width: 600px;
    @include notebook {
      width: 400px;
    }
    @include tablet {
      height: 70%;
      margin: auto 0;
    }
  }
}
.tree {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(../assets/images/bg/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__img {
    width: 500px;
    @include notebook {
      width: 350px;
    }
    // @include tablet {
    //   width: 350px;
    // }
  }
}
