.header {
  display: flex;
  justify-content: space-between;

  &__navigation {
    width: 300px;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__count {
    @include mainText(20px);
    font-weight: bold;
    width: 48px;
    height: 48px;
    background-image: url(../assets/images/toys/3.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    text-align: center;
    line-height: 60px;
  }

  &.non-main-content {
    display: flex;
  }
}

.navigation {
  &__logo {
    width: 30px;
    height: 45px;
    background-image: url(../assets/images/svg/tree.svg);
    background-size: contain;
    cursor: pointer;
  }

  &__toys {
    @include headText(26px);
  }

  &__fir-tree {
    @include headText(26px);
  }
  &__button {
    cursor: pointer;
  }
}

.search {
  @include mainText();
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(31px);
  border-radius: 30px;
  outline: none;

  &__button {
    width: 0;
    height: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &:before {
    content: "";
    background-image: url(../assets/images/svg/search.svg);
    height: 16px;
    width: 16px;
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 22px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__conteiner {
    position: relative;
  }
}
