@font-face {
  font-family: Neucha;
  src: url("../assets/font/Neucha-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Steppe;
  src: url("../assets/font/Steppe.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
