/** @format */

$main-bg-color: #030303;
$bg-ligth: #e5e5e5;
$var3: #ffffff;
$var4: #9d8665;
$var5: #ffffff;
$var6: #710707;
$var7: #000000;
// :root {
//   --swiper-pagination-bullet-horizontal-gap: 12.5px;
// }
