/** @format */

.buy-tickets {
  background-color: $main-bg-color;
}
.tickets-content {
  display: flex;
  margin-top: 103px;
}
.radio-container {
  display: flex;
  flex-direction: column;
  margin-right: 236px;
}
.tickets-title {
  color: $var5;
  padding-top: 75px;
}
.tickets-content {
  color: $var5;
  padding-bottom: 78px;
}
.pic-tickets {
  margin-right: 55px;
}
.radio-btn {
  display: block;
  position: relative;
  padding-left: 47px;
  margin-bottom: 49px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  &:hover input ~ .checkmark {
    background-color: rgb(5, 5, 5);
  }
  &:after {
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $bg-ligth;
  }
}
.tickets-subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: $var3;
  margin-top: 0;
  margin-bottom: 55px;
}
.checkmark {
  position: absolute;
  left: 4px;
  top: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid $bg-ligth;
  display: inline-flex;
  align-items: center;
  user-select: none;
  &:after {
    content: "";
    position: absolute;
    display: none;
    color: $var7;
  }
  &:after {
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $bg-ligth;
  }
}
.button-comtainer button {
  border: none;
  flex-basis: 30%;
  background-color: $main-bg-color;
  color: $var5;
  padding: 0 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
.amount-title {
  margin-bottom: 14px;
  text-align: end;
}
.amont-subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
}
.amount-btn {
  margin-bottom: 35px;
  border: none;
  height: 95%;
  flex-basis: 40%;
  text-align: center;
  background-color: $main-bg-color;
  color: $var5;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  padding-right: 0;
  padding-left: 8px;
}
.button-comtainer {
  display: flex;
  height: 50px;
  width: 150px;
  margin-bottom: 30px;
  margin-left: 19px;
  border: white 3px solid;
}
.tickets-total {
  letter-spacing: 3px;
  margin-top: 40px;
  text-align: end;
}
.buy {
  width: 175px;
  height: 50px;
  background: $var3;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  &:hover {
    background-color: $var4;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
    cursor: pointer;
  }
}
