/** @format */

.logo {
  display: flex;
  align-items: center;
  @include tablet {
    margin-top: 11px;
  }
  &-img {
    background: url(../assets/svg/logo.svg);
    height: 34px;
    width: 50px;
    @include mobile {
      height: 16px;
      width: 29px;
    }
  }
  &-text {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $var3;
    margin-left: 21px;
    @include mobile {
      background-size: cover;
      font-size: 16px;
      line-height: 18px;
    }
  }
  &-footer-text {
    margin-bottom: 83px;
    margin-left: 26px;
    @include laptop {
      margin-bottom: 112px;
      margin-left: 24px;
    }
  }
  &-footer-img {
    margin-bottom: 50px;
    @include laptop {
      margin-bottom: 76px;
    }
  }
  &-footer {
    margin-right: 145px;
    @include laptop {
      margin-right: 41px;
    }
    @include tablet {
      margin-right: 97px;
      margin-bottom: 17px;
      margin-top: 0;
    }
    &:hover .logo-text {
      color: #9d8665;
    }
    &:active .logo-text {
      color: #7e6c51;
    }
  }
}
