/** @format */

.parallax {
  width: 100%;
  height: 400px;
  background-image: url(../assets/img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
  @include tablet {
    height: 300px;
    background-position: bottom -128px right 51%;
    background-size: 170%;
  }
  @include mobile {
    background-position: bottom 30% left 51%;
    background-size: 350%;
  }
}
