.setting-right {
  padding: 0 40px;
  @include notebook {
    padding: 0 20px;
  }
  @include laptop {
    padding: 0 10px;
  }
  &__title {
    @include headText(20px);
    @include notebook {
      margin: 0.5em 0;
    }
  }

  &__toys {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    position: absolute;
    height: 80%;
    width: 80%;
  }

  &__item {
    @include conteinerForItem();
    position: relative;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    @include notebook {
      width: 40px;
      height: 40px;
    }
  }
  &__count {
    @include mainText(16px);
    z-index: 1;
    align-self: flex-end;
    width: 20px;
    height: 20px;
    line-height: 24px;
    text-align: center;
    vertical-align: center;
    padding: 0;
    margin: 0;
    margin-left: -44px;
    border-radius: 50%;
    background-color: #1db618;
  }

  &__local {
    max-width: 230px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include notebook {
      max-width: 200px;
    }
    @include tablet {
      justify-content: flex-start;
    }
  }

  &__save {
    @include conteinerForItem();
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    margin: 5px;
    @include notebook {
      width: 50px;
      height: 50px;
    }
  }
}
