.tree-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  @include notebook {
    max-width: 250px;
  }

  &_tree {
    @include conteinerForItem();
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    margin: 5px;
    cursor: pointer;
    @include notebook {
      max-width: 50px;
      margin: 2px;
    }
    @include laptop {
      max-width: 60px;
      margin: 2px;
    }
    // @include tablet {
    //   margin-top: 63px;
    // }
  }

  &_img {
    height: 80%;
    width: 80%;
  }
}
