/** @format */

.contacts {
  background-color: $bg-ligth;
  &-title {
    color: $var4;
    margin: 0;
    margin-bottom: 101px;
    padding-top: 75px;
    @include laptop {
      margin-bottom: 74px;
      padding-top: 51px;
    }
    @include tablet {
      margin-bottom: 62px;
      padding-top: 42px;
    }
  }
  &-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    @include laptop {
      padding-bottom: 64px;
    }
    @include tablet {
      flex-direction: column;
    }
    @include mobile {
      padding-bottom: 40px;
    }
  }
  &-subtitle {
    margin-top: 0;
    margin-bottom: 52px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: $var7;
    @include laptop {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 36px;
    }
    @include tablet {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 40px;
    }
    @include mobile {
      font-size: 16px;
      line-height: 19px;
    }
  }
  &-list {
    padding-left: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: $var7;
    list-style-type: none;
    @include laptop {
      font-size: 20px;
      line-height: 23px;
    }
    @include tablet {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 40px;
    }
    @include mobile {
      font-size: 16px;
      line-height: 19px;
    }
    li {
      margin-bottom: 25px;
      @include laptop {
        margin-bottom: 15px;
      }
      // @include tablet {
      //   margin-bottom: 15px;
      // }
      & a {
        color: black;
        &:hover {
          color: #9d8665;
        }
        &:active {
          color: #7e6c51;
        }
      }
    }
  }
}

.map {
  width: calc(694px + (960 - 694) * (100vw - 1024px) / (1920 - 1024));
  height: calc(454px + (620 - 454) * (100vw - 1024px) / (1920 - 1024));
  @include laptop {
    width: calc(485px + (694 - 485) * (100vw - 768px) / (1024 - 768));
    height: calc(317px + (454 - 317) * (100vw - 768px) / (1024 - 768));
    object-position: top right;
    object-fit: none;
  }
  @include tablet {
    object-position: center;
    width: 100%;
    height: calc(248px + (476 - 248) * (100vw - 420px) / (768 - 420));
  }
  @include mobile {
    width: 100%;
    height: calc(173px + (248 - 173) * (100vw - 320px) / (420 - 320));
  }
}
