/** @format */

.picture-explore {
  background-color: $main-bg-color;
}
.explore-title {
  color: $var5;
  margin-bottom: 102px;
  @include laptop {
    margin-bottom: 74px;
    margin-top: 52px;
  }
  @include tablet {
    margin-top: 40px;
    margin-bottom: 63px;
  }
}
.subtitle-explore {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 28px;
  max-width: 657px;
  @include laptop {
    max-width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20px;
  }
  &_hide {
    @include laptop {
      display: none;
    }
  }
  @include tablet {
    display: none;
  }
}
.pic-pictire-explore {
  width: calc(504px + (720 - 504) * (100vw - 1024px) / (1920 - 1024));
  height: calc(490px + (700 - 490) * (100vw - 1024px) / (1920 - 1024));
  margin-left: 63px;
  margin-top: 13px;
  @include laptop {
    width: calc(504px + (720 - 504) * (100vw - 768px) / (1024 - 768));
    height: calc(490px + (700 - 490) * (100vw - 768px) / (1024 - 768));
    margin: 0 auto;
    margin-top: 13px;
    padding-bottom: 60px;
  }
  @include tablet {
    width: calc(380px + (728 - 380) * (100vw - 420px) / (768 - 420));
    height: calc(368px + (705 - 368) * (100vw - 420px) / (768 - 420));
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 40px;
  }
  @include mobile {
    width: calc(280px + (380 - 280) * (100vw - 320px) / (420 - 320));
    height: calc(268px + (368 - 268) * (100vw - 320px) / (420 - 320));
  }
}
.yellow-veil {
  color: $var4;
}
.img-comp-img img {
  display: block;
  width: calc(504px + (720 - 504) * (100vw - 1024px) / (1920 - 1024));
  height: calc(490px + (700 - 490) * (100vw - 1024px) / (1920 - 1024));
  @include laptop {
    width: calc(504px + (720 - 504) * (100vw - 768px) / (1024 - 768));
    height: calc(490px + (700 - 490) * (100vw - 768px) / (1024 - 768));
  }
  @include tablet {
    width: calc(380px + (728 - 380) * (100vw - 420px) / (768 - 420));
    height: calc(368px + (705 - 368) * (100vw - 420px) / (768 - 420));
  }
  @include mobile {
    width: calc(280px + (380 - 280) * (100vw - 320px) / (420 - 320));
    height: calc(268px + (368 - 268) * (100vw - 320px) / (420 - 320));
  }
}
.img-comp-container {
  position: relative;
  // width: calc(504px + (720 - 504) * (100vw - 1024px) / (1920 - 1024));
  height: calc(490px + (700 - 490) * (100vw - 1024px) / (1920 - 1024));
  @include laptop {
    // width: calc(504px + (720 - 504) * (100vw - 768px) / (1024 - 768));
    height: calc(490px + (700 - 490) * (100vw - 768px) / (1024 - 768));
  }
  @include tablet {
    // width: 728px;
    // height: 705px;
    // width: calc(380px + (728 - 380) * (100vw - 420px) / (768 - 420));
    height: calc(368px + (705 - 368) * (100vw - 420px) / (768 - 420));
  }
  @include mobile {
    // width: 380px;
    // height: 368px;
    // width: calc(280px + (380 - 280) * (100vw - 320px) / (420 - 320));
    height: calc(268px + (368 - 268) * (100vw - 320px) / (420 - 320));
  }
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}
// .img-comp-overlay {
//   // width: 100%;
//   height: auto;
// }

.img-comp-slider {
  position: absolute;
  cursor: ew-resize;
  width: 30px;
  height: 30px;
  // top: 0;
  // left: 0;
  background-color: #00000000;
  border: 5px solid white;
  border-radius: 50%;
  z-index: 2;
  @include mobile {
    width: 15px;
    height: 15px;
    border: 2px solid white;
  }
  &::after {
    content: "";
    width: 5px;
    height: calc(227px + (331 - 227) * (100vw - 1024px) / (1920 - 1024));
    background-color: white;
    position: absolute;
    top: 34px;
    left: 11px;
    @include laptop {
      height: calc(227px + (331 - 227) * (100vw - 768px) / (1024 - 768));
    }
    @include tablet {
      height: calc(227px + (331 - 227) * (100vw - 420px) / (768 - 420));
    }
    @include mobile {
      width: 2px;
      height: 179px;
      top: 17px;
      left: 6px;
    }
  }
  &::before {
    content: "";
    width: 5px;
    height: calc(230px + (331 - 230) * (100vw - 1024px) / (1920 - 1024));
    background-color: white;
    position: absolute;
    top: calc(-230px + (-331 + 230) * (100vw - 1024px) / (1920 - 1024));
    left: 11px;
    @include laptop {
      height: calc(230px + (331 - 230) * (100vw - 768px) / (1024 - 768));
      top: calc(-230px + (-331 + 230) * (100vw - 768px) / (1024 - 768));
    }
    @include tablet {
      height: calc(230px + (331 - 230) * (100vw - 420px) / (768 - 420));
      top: calc(-230px + (-331 + 230) * (100vw - 420px) / (768 - 420));
    }
    @include mobile {
      width: 2px;
      height: 172px;
      top: -174px;
      left: 6px;
    }
  }
}
.description-explore {
  margin-bottom: 45px;
  @include tablet {
    margin-bottom: 0;
  }
}
