/** @format */

.video-journey {
  background-color: $bg-ligth;
  @include tablet {
    padding-bottom: 21px;
  }
  @include mobile {
    padding-bottom: 20px;
  }
}
.video-journey_active {
  background-color: red;
}
.container-video-description {
  display: flex;
  padding-top: 81px;
  @include laptop {
    padding-top: 53px;
  }
  @include tablet {
    padding-top: 40px;
  }
}
.video-title {
  color: $var4;
  margin-right: 115px;
  letter-spacing: 4.3px;
  margin-left: 9px;
  @include laptop {
    letter-spacing: 5px;
    margin-left: 0;
  }
}
.video-description {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  max-width: 720px;
  margin-top: 4px;
  @include laptop {
    display: none;
  }
}
.video-inframe {
  width: calc(300px + (452 - 300) * (100vw - 1024px) / (1920 - 1024));
  height: calc(170px + (254 - 170) * (100vw - 1024px) / (1920 - 1024));
  @include laptop {
    width: calc(250px + (300 - 250) * (100vw - 768px) / (1024 - 768));
    height: calc(140px + (170 - 140) * (100vw - 768px) / (1024 - 768));
  }
  @include tablet {
    width: calc(180px + (354 - 180) * (100vw - 420px) / (768 - 420));
    height: calc(101px + (199 - 101) * (100vw - 420px) / (768 - 420));
  }
  @include mobile {
    width: calc(140px + (180 - 140) * (100vw - 320px) / (420 - 320));
    height: calc(78px + (100 - 78) * (100vw - 320px) / (420 - 320));
  }
}
.container-video-content {
  position: relative;
  padding-top: 59px;
  max-width: 1440px;

  @include laptop {
    padding-top: 32px;
  }
  @include tablet {
    padding-top: 20px;
  }
  @include mobile {
    padding-top: 16px;
  }
  & video {
    width: 100%;
    // height: calc(444px + (665 - 444) * (100vw - 1024px) / (1920 - 1024));
    height: 90%;
    object-fit: cover;
    @include laptop {
      width: 100%;
      // height: calc(329px + (444 - 329) * (100vw - 768px) / (1024 - 768));
    }
    @include tablet {
      width: 100%;
      // height: calc(172px + (329 - 172) * (100vw - 420px) / (768 - 420));
    }
    @include mobile {
      width: 100%;
      // height: calc(100px + (172 - 100) * (100vw - 320px) / (420 - 320));
    }
  }
}
.player-btn {
  position: absolute;
  border: none;

  background-color: transparent;
  &:hover {
    filter: invert(65%) sepia(0%) saturate(0%) hue-rotate(252deg) brightness(94%) contrast(90%);
    transition: 0.3s;
    cursor: pointer;
  }
}
.video-pl {
  position: relative;

  // width: 1440px;
  // height: 665px;
  // width: calc(954px + (1440 - 954) * (100vw - 1024px) / (1920 - 1024));
  width: 100%;

  height: calc(444px + (734 - 444) * (100vw - 1024px) / (1920 - 1024));
  @include laptop {
    // width: 984px;
    // height: 444px;
    // width: calc(728px + (984 - 728) * (100vw - 768px) / (1024 - 768));
    width: 100%;

    height: calc(329px + (444 - 329) * (100vw - 768px) / (1024 - 768));
  }
  @include tablet {
    width: 100%;

    height: calc(172px + (329 - 172) * (100vw - 420px) / (768 - 420));
  }
  @include mobile {
    width: 100%;
    height: calc(100px + (172 - 100) * (100vw - 320px) / (420 - 320));
  }
}
.play-btn {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-image: url(../assets/img/play_btn.svg);
  width: 220px;
  height: 220px;
  background-size: contain;
  transition: transform 0.5s;

  &_hide {
    display: none;
  }
  @include laptop {
    width: 152px;
    height: 152px;
  }
  @include tablet {
    background-size: contain;
    width: 80px;
    height: 80px;
  }
  @include mobile {
    background-size: contain;
    width: 50px;
    height: 50px;
  }
}
.panel-btn {
  position: relative;
  height: 85px;
  width: 100%;
  background-color: black;
  @include laptop {
    height: 60px;
  }
  @include tablet {
    height: 53px;
    margin-top: 4px;
  }
  @include mobile {
    height: 50px;
  }
}
.back-btn {
  position: absolute;
  background-image: url(../assets/svg/back_btn.svg);
  top: 28px;
  left: 41px;
  width: 26px;
  height: 29px;
}
.sm-play-btn {
  position: absolute;
  background-image: url(../assets/svg/sm_play_btn.svg);
  background-position: center;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%);
  width: 23px;
  height: 30px;
  outline: none;
  padding: 0;
  &_paused {
    background-image: url(../assets/img/pause.png);
  }
  @include laptop {
    left: 5%;
  }
  @include mobile {
    left: 7%;
    width: 14px;
    height: 18px;
    background-size: cover;
  }
}
.next-btn {
  position: absolute;
  background-image: url(../assets/svg/next-ntn.svg);
  top: 28px;
  left: 173px;
  width: 26px;
  height: 29px;
}
.volume-btn {
  position: absolute;
  background-image: url(../assets/svg/volume.svg);
  top: 50%;
  left: 77%;
  transform: translate(-50%, -50%);
  width: 38px;
  height: 30px;
  padding: 0;
  background-size: cover;
  &_mute {
    background-image: url(../assets/img/mute.png);
  }
  @include laptop {
    left: 71%;
    width: 25px;
    height: 20px;
    background-size: contain;
  }
  @include tablet {
    left: 14%;
    width: 27px;
    height: 22px;
  }
  @include mobile {
    background-size: cover;
    left: 19%;
    width: 18px;
    height: 14px;
  }
}
.sq-btn {
  position: absolute;
  background-image: url(../assets/svg/sq.svg);
  top: 50%;
  left: 97%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  @include laptop {
    left: 95%;

    width: 26px;
    height: 26px;
    background-size: contain;
  }
  @include tablet {
    left: 94%;
    width: 27px;
    height: 27px;
  }
  @include mobile {
    left: 92%;
    width: 18px;
    height: 18px;
  }
}
.progress {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
  @include laptop {
    left: 38%;
    transform: translate(-50%, -50%);
    width: 57%;
    height: 8px;
    border-radius: 0px;
  }
  @include tablet {
    transform: translate(0, 0);
    top: -4px;
    left: 0;
    width: 100%;
  }
  &::-webkit-slider-runnable-track {
    background-color: #c4c4c4;
  }
  &::-webkit-slider-thumb {
    background: #fff;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    box-shadow: -915px 0 0 905px #710707;
    @include laptop {
      width: 8px;
      height: 8px;
    }
  }

  &-vol {
    position: absolute;
    top: 50%;
    left: 87%;
    transform: translate(-50%, -50%);
    width: 155px;
    height: 15px;
    border-radius: 10px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    overflow: hidden;
    @include laptop {
      left: 83%;
      width: 143px;
      height: 8px;
    }
    @include tablet {
      left: 54%;
      width: 53%;
    }
    @include mobile {
      left: 56%;
      width: 53%;
    }
    &::-webkit-slider-runnable-track {
      background-color: #c4c4c4;
    }
    &::-webkit-slider-thumb {
      background: #fff;
      cursor: pointer;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      -webkit-appearance: none;
      box-shadow: -200px 0 0 190px #710707;
      @include laptop {
        width: 8px;
        height: 8px;
      }
    }
  }
}
.for-space {
  position: relative;
  top: -15px;
  // @include laptop {
  //   top: 0;
  // }
}
.playBackRate {
  display: none;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 0px;
  color: #710707;
  user-select: none;
  &_show {
    display: block;
  }
}
