$backgraundColor: #192f2d;
$backgraundColorCard: radial-gradient(
  109.56% 109.56% at 0% -2.94%,
  rgba(255, 255, 255, 0.5) 0%,
  rgba(179, 246, 255, 0.5) 100%
);
$nonMainHeight: 70px;
$mainColor: #ffffff;
$borderColor: #278d9f;
$innerColor: #70959850;
