/** @format */

.audio {
  &__pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 180px;
    height: 150px;
    justify-content: space-between;
  }
  &__prev,
  &__next {
    background-size: cover;
    height: 48px;
    width: 48px;
    cursor: pointer;
  }
  &__prev {
    background-image: url(../assets/svg/play-prev.svg);
  }
  &__next {
    background-image: url(../assets/svg/play-next.svg);
  }
  &__play {
    background-image: url(../assets/svg/play.svg);
    background-size: cover;
    &_bg {
      height: 64px;
      width: 64px;
    }
    &_sm {
      height: 20px;
      width: 20px;
      margin-right: 20px;
    }

    &:hover {
      cursor: pointer;
    }
    &_pause {
      background-image: url(../assets/svg/pause.svg);
    }
  }
  &__vol {
    height: 24px;
    width: 30px;
    background-image: url(../assets/svg/volume.svg);
    background-size: cover;
    &_mute {
      background-image: url(../assets/img/mute.png);
    }
  }
  &__conteiner {
    display: flex;
    color: white;
    margin-bottom: 5px;
  }
}
// .progress {
//   width: 100%;
// }
.progress__conteiner,
.volume__conteiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.time {
  font-size: 10px;
  line-height: 20px;
  color: white;
}
